{% extends 'base.html' %}

{% block title %}
  {{ sale.name }}
{% endblock %}

{% block header2 %}
  {{ sale.name }}
{% endblock %}


{% block table_data %}
<script type="text/javascript">
    function submit() {
        var form = document.getElementById("form_purchasers");
        form.submit();
    }
</script>

{% if flash %}
    <p style="color: rgba(84, 216, 226, .95);"><b>{{ flash }}</b></p>
{% endif %}

{% for key in sale_overview %}
  {% set width = '250px' %}
  <p><label style="width: {{ width }}; font-weight: bold;">{{ sale_overview[key][0] }}:</label><label style="width: {{ width }};">{{ sale_overview[key][1](sale[key]) }}</label></p>
{% endfor %}
<div class="table-responsive">
  <table class="table table-striped table-sm" id="quick_cruise_table">
    <thead>
      <tr>
        {% for i in range(bid_table[0]|length) %}
          {% if i == 0 %}
            <th><label>{{ bid_table[0][i] }}</label></th>
          {% else %}
            <th class="text-center"><label>{{ bid_table[0][i] }}</label></th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for i in bid_table[1:] %}
        <tr>
          {% for j in range(i|length) %}
            {% if j == 0 %}
              <td><label>{{ i[j] }}</label></td>
            {% else %}
              <td class="text-center"><label>{{ i[j] }}</label></td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
