{% extends 'base.html' %}

{% block title %}
  Sale Graphs
{% endblock %}

{% block header2 %}
  Sale Graphs
{% endblock %}


{% block graph %}
  <script>
    function graph_figure(){
      var graph_val = document.getElementById("graphs").value;
      if (graph_val != ""){
        var split = graph_val.split("_");
        console.log(split)
        var graph = split[0];
        var arg1 = split[1];
        var arg2 = split[2];
        var arg3 = split[3];
        window.location = `/sale_graphs_${graph}_${arg1}_${arg2}_${arg3}`;
      }
    }
  </script>
  <div>
    <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" name="graphs" id="graphs" onchange="graph_figure()">
      {% if graph_values[0] != "None" %}
        <option value="{{ graph_values[1] }}_{{ graph_values[2] }}_{{ graph_values[3] }}_{{ graph_values[4] }}">{{ graph_values[0] }}</option>
      {% else %}
        <option value="">Graphs</option>
      {% endif %}
      {% for button in buttons %}
        {% if button != graph_values[0] %}
          {% set graph, arg1, arg2, arg3 = buttons[button] %}
          <option value="{{ graph }}_{{ arg1 }}_{{ arg2 }}_{{ arg3 }}">{{ button }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>

  <div id="chart1" style="width: 1200px; height: 600px;"></div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    if (typeof {{ fig|safe }} !== 'undefined'){
      Plotly.plot("chart1", {{ fig|safe }});
    }
  </script>


{% endblock %}
